Options -MultiViews -Indexes
RewriteEngine On

# Статические файлы (css, js, img) — отдаём напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Всё остальное → index.php
RewriteRule ^ index.php [QSA,L]